.block--menu-menu-certificates {
  ul.menu {
    @extend %hlist;
    padding: 0;
    margin: 0;
    li {
      padding: $vert-spacing-unit 85px;
      list-style-type: none;
      list-style-image: none;
      width:100%;
      a {
        display: block;
        height: 136px;
        width: 136px;
        white-space: nowrap;
        overflow: hidden;
        margin: 0 auto;
        text-indent: -10000px;
      }
    }
    li.first.leaf {
      a {
        background: url('../images/gas-safe-footer.png');
        background-repeat: no-repeat;
      }
    }
    li.leaf {
      a {
        background:url('../images/buy-footer.png');
        background-repeat: no-repeat;
      }
    }
    li.last.leaf{
      a {
        background: url('../images/trusted-trader.png');
        background-repeat: no-repeat;
      }
    }
  }
}

@include breakpoint($tab-narrow, true) {
  .block--menu-menu-certificates {
    ul.menu {
      li {
        width: 33.333%;
        padding: $vert-spacing-unit 30px;
      }
    }
  }
}

@include breakpoint($tab-portrait, true) {
  .block--menu-menu-certificates {
    ul.menu {
      li {
        padding: $vert-spacing-unit 55px;
      }
    }
  }
}

@include breakpoint($tab, true) {
  .block--menu-menu-certificates {
    ul.menu {
      li {
        padding: $vert-spacing-unit 60px;
      }
    }
  }
}

@include breakpoint($tab_landscape, true) {
  .block--menu-menu-certificates {
    ul.menu {
      li {
        padding: $vert-spacing-unit 100px;
      }
    }
  }
}