.block--menu-menu-plumbing-services {
  width:50%;
  float:left;
  padding-top: $vert-spacing-unit;
  font-family:$myriad;
  .block__title {
    line-height: 28px;
    @include font-size(14px);
    text-transform: uppercase;

  }
  ul {
    padding: 0px;
    margin: 0;
  }
  li {
    padding: $horz-spacing-unit/2 0;
    a {
      list-style: none;
      list-style-image: none;
      @include font-size(12px);
      text-decoration: none;
    }
    &:hover {
    }
  }
  li.last {
    border: none;
  }
  li.leaf {
    list-style-image: none;
    list-style-type: none;
  }
}

@include breakpoint($tab, true) {
  .block--menu-menu-plumbing-services {
    width: 25%;
    float: left;
  }
}
