.block--menu-menu-follow-us--2 {
  display:none;
  padding:4px 0;
  .block__title {
    line-height: 28px;
    display:none;
  }
  ul.menu {
    padding: 0px;
    margin: 0;
    .leaf {
      list-style-image: none;
      list-style-type: none;
      list-style: none;
    }
    li {
      float: left;
      margin-right: 10px;
      a {
        display: block;
        height: 35px;
        width: 35px;
        background-size: 35px;
        background: url("../images/f.png");
        background-repeat: no-repeat;
        text-indent: -9999px;
      }
      &:hover {
        color: darken($white, 15%);
      }
    }
    li.last {
      margin-right: 0px !important;
    }
    .facebook {
      display: block;
      height: 25px;
      width: 25px;
      background: url("../images/facebook.png");
      background-size: 25px;
      background-repeat: no-repeat;
      text-indent: -9999px;
      opacity:0.75;
    }

    .google {
      display: block;
      height: 35px;
      width: 35px;
      background: url("../images/g.png");
      background-size: 35px 35px;
      background-repeat: no-repeat;
      text-indent: -9999px;
    }

    .linkedin {
      display: block;
      height: 35px;
      width: 35px;
      background: url("../images/in.png");
      background-size: 35px;
      background-repeat: no-repeat;
      text-indent: -9999px;
    }

    .pinterest {
      display: block;
      height: 35px;
      width: 35px;
      background: url("../images/p.png");
      background-size: 35px;
      background-repeat: no-repeat;
      text-indent: -9999px;
    }

    .instagram {
      display: block;
      height: 25px;
      width: 25px;
      background: url("../images/instagram.png");
      background-size: 25px 25px;
      background-repeat: no-repeat;
      text-indent: -9999px;
      opacity:0.75;
    }

    .twitter {
      display: block;
      height: 25px;
      width: 25px;
      background: url("../images/twitter.png");
      background-size: 25px;
      background-repeat: no-repeat;
      text-indent: -9999px;
      opacity:0.75;
    }
  }
}
@include breakpoint($tab, true) {
  .block--menu-menu-follow-us--2 {
    display:block;
    float: right;
  }
}