.block--menu-menu-contact-information{
  width:50%;
  float:left;
  padding-top: $vert-spacing-unit;
  font-family:$myriad;
  .block__title {
    line-height: 28px;
    @include font-size(13px);
    text-transform: uppercase;

  }
  ul {
    padding: 0px;
    margin: 0;
  }
  li {
    padding: $horz-spacing-unit/2 0;
    a {
      list-style: none;
      @include font-size(14px);
      text-decoration: none;
    }

    .tripadvisor {
      display:block;
      background-image:url('../images/trip-advisor.png');
      background-repeat:no-repeat;
      background-size:134px 41px;
      width:134px;
      height:41px;
      text-indent:-9999px;
    }
    &:hover {
    }
  }
  li.last {
    width:134px;
    height:41px;
  }
  li.last {
    border: none;
  }
  li.leaf {
    list-style-image: none;
    list-style-type: none;
  }
}

@include breakpoint($tab, true) {
  .block--menu-menu-contact-information {
    width: 25%;
    float: left;
  }
}
