.block--system-main-menu {

  width:100%;
  float:left;
  @extend %hlist;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    display: block;
    @include font-size(14px);
    padding: 0.5em;
    float: none;
    text-align: center;
  }
  a {
    @include font-size(14px);
    text-decoration: none;
    text-transform:uppercase;
    color: $black;
    &:hover {
      color: $black;
    }
    &:active {
      color: $black!important;
    }
  }
}

  //600
  .block--system-main-menu {
    display: inline-block !important;
    float:right;
    clear:right;
    padding:0px 0 20px 0;

    ul.menu {
      li {
        padding: 8px;
        float: left;
      }
      li.last {
        padding-right:0px;
      }
      a {
        @include font-size(14px);
        padding-left: 0.25em;
        &:active {
          color: $main-nav !important;
        }

      }
    }
  }

  @include breakpoint($tab) {
    .block--system-main-menu {
      float:right!important;
      ul {
        float:right;

        li {
          padding:12px;
        }
      }
    }
  }