
  .block--nice-menus-1 {
    display: block;
    ul.nice-menu {
      li {
        background:none!important;
        border: 0;
        padding: 0.5em;
        margin-right: 5px;
        a{
          color:$second-nav;
          display: inline-block;
          text-decoration: none;
          @include font-size(13px);
          text-transform:uppercase;
          font-weight: 800;
        }

        ul {
          background:$light-green;
          margin-top:20px;
          width:175px;

          li {
            background:$light-green;
            text-transform:uppercase;
            width:175px;
            padding:0px;


            a {
              width:175px;
              padding:10px;
            }
            a:hover {
              background-color:darken($light-green,10%);
            }
          }
          li:hover {
            background-color:darken($light-green,10%);
          }
        }
      }
      .nolink {
        display: block;
        @include font-size(13px);
        font-weight: 800;
        padding: 0.3em;
      }
      li.menuparent {
        &:hover {
        }
      }
      /** Drop Down Menu **/
      li.menu-path-nolink ul li {
        border: 1px solid $headings-colors;
        width: 290px;
        background:$light-green;
        a{
          font-weight: 400;
          padding-right: 0;
        }
      }
      .menu-path-nolink {
        ul {
          padding: 0;
          margin: 0;
          border: 0;
          top: 55px;
          left: -60px;
        }
      }

    }
  }

@include breakpoint($tab-portrait, true) {  //768
  .block--nice-menus-1 {
    ul.nice-menu {
      li {
        margin-right: 30px;
        a{
          @include font-size(13px);
        }
      }
      .nolink {
        @include font-size(13px);
        padding: 0.3em;
      }
    }
  }
}

