
/*These are colour variables for the ohm theme. */
$pale-blue  : #d9e9ef;
$light-blue : #52b1ea;
$mid-blue   : #077dc3;
$dark-blue  : #064771;
$orange     : #e4621c;
$pale-orange: #efa47b;
$green      : #4a993e;
$red        : #b33630;
$yellow     : #d6c460;
$light-grey : #ddd;
$mid-grey   : #6a7076;



/**** Template Site Colours *******/

/*Defaults*/
$black                : #000000;
$white                : #ffffff;
$light-green          : #e0e0da;
$dark-green           : #aeb0a2;
$button-green         : #656546;
$pod-bg               : #dededa;
$pod-bg               : #dededa;

/*Typography*/
$text-color           : #222222;
$link-colors          : #222;
$link-hover           : #656546;
$link-active          : #656546;
$intro-heading        : #bebebe;
$intro-body           : #fff;
$headings-colors      : #333;
$main-nav             : #333;
$second-nav           : #333;
$price                : #aeb0a2;
$titles               : #5e5d59;

/*Layout Region Background Colours*/
$intro-background    : rgba(0, 0, 0, 0.75);
$header               : #e0e0da;
$nav1                 : #444;
$nav2                 : #aeb0a2;
$slideshow-background : #fff;
$second-sidebar       : #fff;
$product-display      : #fff;
$content-first        : #fff;
$content              : #fff;
$blog-display         : #fff;
$newsletter-display   : #fff;
$footer-first         : #fff;
$footer               : #e0e0da;

/*Misc*/
$button-background    : #ffffff;
$color-1              : #e8e8e8;
