// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 18px;
$horz-spacing-unit: 1em;
$mobile-narrow: 30em; //480px
$tab-narrow: 37.5em; //600px
$tab-portrait: 48em;//768px
$tab: 50em;  //800px
$tab_landscape: 64em; //1024
$desk: 70em;//1120px

$grids: 4;
$grids: add-grid(12 at $tab);

$gutters: 1/3;
