/*
Set fonts here that will be used throughout the site.
New fonts for projects should be imported in the file sass\base\typography.scss
*/

$myriad      : 'myriad pro';
$default-font : 'yu gothic', Helvetica, Arial, sans-serif;
$headings-font  : 'yu gothic', Helvetica, Arial, sans-serif;
$third-font  : 'yu gothic',Metrophobic, Arial, serif;

$base-font-size: 14px;
$base-line-height: 26px;
