/**
 * $FONT-FACE
 */
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);

@include establish-baseline($base-font-size);

/**
 * $BASE-TYPOGRAPHY
 */
html {
  font-family: $default-font;
  color: $text-color;
}

/**
 * $LINKS
 */
a {
  font-family: $default-font;
  //link-colors($normal, $hover, $active, $visited, $focus)
  @include link-colors($link-colors, $link-hover, $link-active, $link-colors, $link-colors);
}

/**
 * $HEADINGS
 */
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  @include rhythm(0, 0, 0, 0.2);;
  color: $headings-colors;
  font-family: $headings-font;

  a, a:visited {
    color: $link-colors!important;
    text-decoration: none;
  }
  a:hover {
    color: $link-hover;
  }
  a:active {
    color: $link-active;
  }
}

h1, .alpha {
  @include font-size(28px);
  line-height: 36px;
  font-weight: 800;
  color: $headings-colors;
  width:100%;
  float:left;
}
h2, .beta {
  @include font-size(22px);
  line-height: 28px;
  font-weight: 400;
  color: $headings-colors;
}
h3, .gamma {
  @include font-size(21px);
}
h4, .delta {
  @include font-size(18px);
}
h5, .epsilon{
  @include font-size(16px);
  font-weight: 800;
}
h6, .zeta {
  @include font-size(16px);
}

/**
 * $PARAGRAPHS
 */
p,
%p {
  margin: 0;
  @include rhythm(0, 0, 0, 1);
}
p + img {
  float: left;
  margin-right: $horz-spacing-unit;
}

/**
 * $QUOTES
 */
blockquote {
  @extend %p;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";

  &:before {
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  p {
    margin: 0;
    display: inline;
  }
}

q {
  font-style: italic;
}

/**
 * $MARKS
 */
mark, .marker {
  padding: 0.1em 0.5em;
  @include font-size(12px);
  text-transform: capitalize;

  @include border-radius(10px);
}
