/*******************************************************************************
 * aph.layout.scss
 *
 * Styling of the "aph" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
/* line 35, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
.l-header,
.l-navigation,
.l-content-first,
.l-main,
.l-product-display,
.l-newsletter-display,
.l-footer-first,
.l-footer {
  *zoom: 1;
  max-width: 1190px;
  _width: 1190px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto; }
  /* line 38, ../../../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .l-header:after,
  .l-navigation:after,
  .l-content-first:after,
  .l-main:after,
  .l-product-display:after,
  .l-newsletter-display:after,
  .l-footer-first:after,
  .l-footer:after {
    content: "";
    display: table;
    clear: both; }

/* line 43, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first {
  padding: 20px 0; }

@media (min-width: 48em) {
  /* line 55, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .l-header,
  .l-navigation,
  .l-content-first,
  .l-main,
  .l-product-display,
  .l-newsletter-display,
  .l-footer-first,
  .l-footer {
    max-width: 1190px; }

  /* line 59, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .l-branding {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }

  /* line 62, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .l-region--header {
    width: 32.20339%;
    float: right;
    margin-right: 0; }

  /* line 65, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .l-region--navigation {
    clear: both; }

  /* line 72, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }
  /* line 76, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0; }
  /* line 79, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right; } }
@media (min-width: 50em) {
  /* line 93, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .l-header,
  .l-navigation,
  .l-content-first,
  .l-main,
  .l-product-display,
  .l-newsletter-display,
  .l-footer-first,
  .l-footer {
    max-width: 1190px; }

  /* line 97, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .l-branding {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }

  /* line 100, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .l-region--header {
    width: 32.20339%;
    float: right;
    margin-right: 0; }

  /* line 103, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .l-region--navigation {
    clear: both; }

  /* line 110, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }
  /* line 114, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0; }
  /* line 117, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right; } }
@media (min-width: 70em) {
  /* line 131, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .l-header,
  .l-navigation,
  .l-content-first,
  .l-main,
  .l-product-display,
  .l-newsletter-display,
  .l-footer-first,
  .l-footer {
    max-width: 1190px; }

  /* line 135, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .l-branding {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%; }

  /* line 138, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .l-region--header {
    width: 49.15254%;
    float: right;
    margin-right: 0; }

  /* line 143, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-sidebar-first .l-content {
    width: 74.57627%;
    float: right;
    margin-right: 0; }
  /* line 146, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-sidebar-first .l-region--sidebar-first {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%; }

  /* line 151, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-sidebar-second .l-content {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%; }
  /* line 154, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-sidebar-second .l-region--sidebar-second {
    width: 23.72881%;
    float: right;
    margin-right: 0;
    clear: none; }

  /* line 161, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-two-sidebars .l-content {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 25.42373%; }
  /* line 166, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%; }
  /* line 169, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-two-sidebars .l-region--sidebar-first {
    margin-left: -76.27119%; }
  /* line 172, ../../../sass/layouts/unconstrained/unconstrained.layout.scss */
  .has-two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none; } }
