/*Set background colours in here*/

.l-header, .l-unconstrained-header {
  background: $header;
}

.primary-navigation, .l-unconstrained-navigation {
  background: $nav1;
}

.secondary-navigation, .l-unconstrained--secondary-navigation {
  background: $nav2;
}

.l-slideshow, .l-unconstrained--slideshow {
  background: $slideshow-background ;
}

.l-content-first {
  background: $content-first;
}

.l-main{
  background: $content;
}

.l-product-display-unconstrained,.l-product-display {
  background: $product-display;
}

.l-footer-first, .l-footer-first-unconstrained {
  background: $footer-first;
}

.l-blog-display-unconstrained, .l-blog-display, .blog-display {
  background: $blog-display;
}

.l-newsletter-display-unconstrained, .l-newsletter-display {
  background: $newsletter-display;
}

.l-footer, .l-footer-unconstrained {
  background: $footer;
}