/**
 * $BUTTONS
 */
/* Base Button */
.button {
  display: inline-block;
  height: 2.2em;
  margin: 0;
  padding: 0 1.2em;
  background-color: $button-background;
  border: none;
  color: $link-colors;
  font-weight: 700;
  font-size: 100%;
  line-height: 2.2;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  vertical-align: middle;
  @include nowrap;
  overflow: visible;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
  }
  &:active,
  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
  }
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

/* Fill width of container */
.button--full {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

/* Inherit sizing from parent  */
.button--natural {
  vertical-align: baseline;
  font-size: inherit;
  line-height: inherit;
  height: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

/* Button Functions */
.button--primary {
  background-color: $button-background;
}
.button--secondary {
  background-color: transparent;
  @include rhythm-borders(1px);
  color: $black;
  &:hover {
    background-color: transparent;
  }
}
.button--positive {
  background-color: $green;
  &:hover {
    background-color: darken($green, 10%);
  }
}
.button--negative {
  background-color: $red;
  &:hover {
    background-color: darken($red, 10%);
  }
}
.button--disabled,
.button--disabled:hover,
.button--disabled:active,
.button--disabled:focus {
  background-color: #ddd;
  color: #777;
  cursor: default;
  box-shadow: none;
}

/* Adjacent buttons should have some space between them. */
.button + .button,
.button + a {
  margin-left: 1em;
}

/* Transition effect on edit submit  */

#edit-submit {
  @include transition-property(background);
  @include transition-property(color);
  @include transition-duration(0.5s);
  @include transition-timing-function(ease-in);
}