.l-slideshow {
  padding: 0 0 $vert-spacing-unit 0;
}
.l-header {
  padding-top:$vert-spacing-unit;
}
.l-main {
  padding: $vert-spacing-unit 0;
}

.l-footer {
  padding-top:$vert-spacing-unit*1.5;
}

.l-newsletter-display-unconstrained {
  padding:5px 0;
  border-top:1px solid #333;

  p {
    margin:7px 0;
    color:#666;
  }

  img {
    margin-right:10px;
  }
}