.mean-bar {
  background:$dark-green!important;
  color:$titles!important;
  z-index:1!important;

  a {
    color:$titles!important;
  }

  li {
    background:$light-green!important;

    ul {
      background:$dark-green!important;

      li {

        a {
          background:$dark-green!important;
          color:$white!important;
        }
      }
    }
  }

  .mean-expand {
    background:$dark-green!important;
  }

  .mean-clicked {
    background:$dark-green!important;
  }



}





.front {
  .view-list-events {
    .views-field-view-node {
      width: 100%;
      padding-left: 5px;
      margin-top: -28px!Important;
      a {
        background:none!important;
        color: $titles!important;
        float: left;
        text-align: left;
        width: 100%;
      }
      a:hover {
        padding:5px;
      }
    }
  }
}