/**
 * $PAGER
 */

.pager {
  @include clearfix(true);
}
.pager__item {
  display: block;
  float: left;
  margin: 0.1em;
  padding: 0;
}
.pager__item a,
.pager__item--current,
.pager__item--ellipsis {
  display: block;
  padding: 0.5em 0.8em;
  text-decoration: none;
}
.pager__item--ellipsis {
  border: none;
}
