.webform-client-form-522 {
  display:none;
  position: fixed;
  width: 40%;
  top: 40%;
  background: $light-green;
  padding: 20px;
  z-index: 5;
  left: 30%;
  border:3px solid $dark-green;

  label {
    display:none;
  }
}

.block--webform-client-block-522 {
  h2 {
    display:none;
  }
}