.node--locations--full {
  .field--name-field-location-image {
    .field__items {
      float: left;
      padding: 0 5px 5px 0;
    }
    margin-bottom: $vert-spacing-unit;
  }
  .field--name-body {
    ul {
      list-style-position: inside;
    }
  }
}