.block--block-3 {
  display: block;
  width: 70%;
  text-align: left;
  @include font-size(30px);
  margin-top: 30px;
  clear: both;
  float: left;
  h2.block__title {
    color: $black;
    @include font-size(30px);
  }
}
@include breakpoint($tab-narrow, true) { //600
  .block--block-3 {
    display: inline-block;
    width: 100%;
    float: left;
    //margin-top: 20px;
    text-align: left;
    clear: both;
    h2.block__title {
      color: $black;
      @include font-size(34px);
    }
  }
}
@include breakpoint($tab, true) {
  .block--block-3 {
    float: right;
    text-align: right;
  }
}