.block--webform-client-block-504 {
  width:100%;
  float:left;
  margin:$vert-spacing-unit*2 0;
}



.webform-client-form-504 {

  width:100%;
  float:left;

  h2{
    width:100%;
    float:left;
    @include font-size(18px);
    font-weight:400;
  }

  .form-select {
    padding:8px!important;
  }
  .form-text {
    padding:9px!important;
  }

  .webform-component-select {
    width:90%;
    float:left;
    border:1px solid #777;
    select {
      background:$pod-bg;
    }
  }

  .webform-component-date {
    width:90%;
    float:left;
    select {
      background:$pod-bg;
    }
    .form-item-submitted-date-month {
      width:36%;
      float:left;
      border:1px solid #777;
    }
    .form-item-submitted-date-day {
      width:32%;
      float:left;
      border:1px solid #777;
      border-left:0px;
    }
    .form-item-submitted-date-year {
      width:32%;
      float:left;
      border:1px solid #777;
    }

  }
  .webform-component-textfield {
    width:90%;
    float:left;
    border:1px solid #777;
    input {
      background:$pod-bg;
    }
  }
  .form-submit {
    width:50%;
    float:left;
    font-weight:400;
    background:$button-green;
    color:$white;
    height: 44px;
    border-left: 0px;
  }


  @include breakpoint($tab-narrow) {

    .form-select {
      padding: 8px !important;
    }
    .form-text {
      padding: 9px !important;
    }

    .webform-component-select {
      width: 20%;
      float: left;
      border: 1px solid #777;
      select {
        background: $pod-bg;
      }
    }

    .webform-component-date {
      width: 20%;
      float: left;
      select {
        background: $pod-bg;
      }
      .form-item-submitted-date-month {
        width: 36%;
        float: left;
        border: 1px solid #777;
        border-left: 0px;
      }
      .form-item-submitted-date-day {
        width: 32%;
        float: left;
        border: 1px solid #777;
        border-left: 0px;
      }
      .form-item-submitted-date-year {
        width: 32%;
        float: left;
        border: 1px solid #777;
        border-left: 0px;
        border-right: 0px;
      }

    }
    .webform-component-textfield {
      width: 20%;
      float: left;
      border: 1px solid #777;
      border-left: 0px;
      input {
        background: $pod-bg;
      }
    }
    .form-submit {
      width: 20%;
      float: left;
      font-weight: 400;
      background: $button-green;
      color: $white;
      height: 44px;
      border-left: 0px;
    }
  }
}


.block--block-8 {
  cursor:pointer;
}