.section-contact {
  h1 {
    display:none;
  }

  h2 {
    margin-bottom:20px;
  }
}


.block--views-find-us-block-block {
  width:100%;
  float:left;
  .node__title {
    display:none;
  }

  .views-field-title {
    display:none;
  }

  iframe {
    max-width:100%;
  }




  @include breakpoint($tab-narrow) {

    width:45%;
    float:right;
    clear:right;
  }
}


.block--webform-client-block-42 {
  width:100%;
  float:left;
  padding:0px;
  padding-top:0px!important;
  padding-left:0px!important;
  padding-right:0px!important;

  .node--webform {
    padding:0px!important;
  }

  .node__title {
    display:none;
  }

  .form-submit {
    width: 100%;
    background: $dark-green;
    color: white;
  }

  #edit-submitted-comments {
    height:370px;
  }

  @include breakpoint($tab-narrow) {

    width:45%;
    float:left;
    clear:left;
  }

}