.flexslider {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border: 0px !important;
  margin-bottom: 0px;

  .flex-control-nav {
    display: none;
  }

  .flex-direction-nav {
    li:nth-child(1) {
      background-image: url('../images/left.png');
      content: "." !important;
      a {
        background-image: url('../images/left.png');
        color: rgba(0, 0, 0, 0) !important;
        text-shadow: none;
      }
    }
    li:nth-child(2n) {
      background-image: url('../images/right.png');
      content: "";
      a {
        background-image: url('../images/right.png');
        color: rgba(0, 0, 0, 0) !important;
        text-shadow: none;
      }
    }
  }

}


.views-field-field-call-to-action {
  display:none;
}

@include breakpoint(1800px) {
  .views-field-field-call-to-action {
    display: block;
    position:relative;
    left: 267px;
    margin-top: -440px;
    margin-bottom: 318px;

    a {
      background:$white;
      opacity:0.8;
      color:$black!important;
      padding:10px;
      text-decoration: none;
      span {
        color:$black!important;
      }
    }
  }
}



@include breakpoint($tab-portrait, true) {
  .block--views-slideshow-block {
    width: 100%;
  /*  float: right;*/
 }
}