.block--views-menu-page-banner-block-1 {

  width:98%;
  margin:1%;
  float:left;

  @include breakpoint($tab) {

    width:40%;
    float:right;
    margin:0px;

  }


}

.block--views-menu-page-banner-block-2{

  width:98%;
  margin:1%;
  float:left;
  clear:left;

  @include breakpoint($tab) {

    width:40%;
    float:left;
    margin:0px;
  }


}


.block--views-menu-page-banner-block-3 {

  width:98%;
  margin:1%;
  float:left;

  @include breakpoint($tab) {

    width:40%;
    float:right;
    margin:0px;

  }


}