.view-list-services {
  .views-row:first-child{
    padding-left: 0px;
  }
  .views-row:last-child{
    padding-right: 0px;
  }
  .views-row {
    padding: 0 20px;
    margin-bottom: 36px;
  }
  h2 {
    padding: $vert-spacing-unit 0;
    line-height: 26px;
  }
  .views-field-body {
    overflow: hidden;
  }
  .views-field-field-service-image {
    text-align: center;
  }
  .views-field-view-node {
    a {
    display: block;
    @include font-size(18px);
    text-decoration: none;
    padding-top: $vert-spacing-unit;
    font-weight: 800;
    }
  }
}
@include breakpoint($tab-narrow, true) {
  .view-list-services {
    .views-row {
      width: 50%;
      float: left;
    }
    .views-more-link {
      display: block;
      @include font-size(18px);
      text-decoration: none;
      padding-top: $vert-spacing-unit;
      font-weight: 800;
    }

  }
}