.block--views-menu-page-banner-block-4, .block--views-menu-page-banner-block-5, .block--views-menu-page-banner-block-6 {
  width:100%;
  float:left;
  margin:20px 1%;
}

@include breakpoint($tab) {
  .block--views-menu-page-banner-block-4, .block--views-menu-page-banner-block-5, .block--views-menu-page-banner-block-6 {
    width:100%;
    float:left;
    margin:40px 0px;
  }
}


.node-type-menu-list {
  .breadcrumb {
    display:none;
  }
}


.block--views-menu-page-banner-block-3 {
  margin-bottom:100px;
}