.front {

  .bottom-border {
    border-bottom: 1px solid black;
    margin-top: -15px;
    margin-bottom: 10px;
  }

  .view-list-events {

    .view-header {
      p {
        width: 40%;
        float: left;
        border-bottom: 1px solid $black;
        content: "";
        position: relative;
        top: -5px;
      }
      h2 {
        width: 20%;
        float: left;
        text-align: center;
        margin: 0;
        @include font-size(16px);
        text-transform: uppercase;
        background-image: url('../images/white.jpg');
      }

    }

    width: 100%;
    float: left;
    margin-bottom: $vert-spacing-unit*3;
    margin-top: $vert-spacing-unit*3;

    .views-row {

      width: 100%;
      float: left;
      padding: 12px;
      margin: $vert-spacing-unit 0;
      background-image: url('../images/pod-border.jpg');
      background-size: 100% 100%;
      background-repeat: no-repeat;

      img {
        width: 100%;
        height: auto;
        padding-bottom: 15px;
        border-bottom: 1px solid #898a7d;
        margin-bottom: 10px;
      }

      .views-field-view-node {
        a {
          text-decoration: none;
          @include font-size(13px);
        }
      }

    }

    .views-row-3 {
      display: none;
    }

    @include breakpoint($mobile-narrow) {

      .views-row {
        width: 48%;
        float: left;
      }

      .views-row-1 {
        margin-left: 0px;
        margin-right: 1%;
      }
      .views-row-2 {
        margin-left: 1%;
        margin-right: 0px;
      }

    }

    @include breakpoint($tab) {

      .views-row {
        width: 32%;
        float: left;
      }
      .views-row-1 {
        margin-left: 0px;
        margin-right: 1%;
      }
      .views-row-2 {
        margin-left: 1%;
        margin-right: 1%;
      }
      .views-row-3 {
        display: block;
        margin-left: 1%;
        margin-right: 0px;
      }

    }

  }

}