.view-list-events {

  .views-row {

    width: 100%;
    float: left;
    margin-bottom: $vert-spacing-unit;

    .views-field-field-pod-image {

      width: 100%;
      float: left;

      img {
        width: 100%;
      }
    }

    .views-field-title {


      a {
        text-decoration: none;
        font-weight: 400;
        background: $light-green;
        height:40px;
        padding: 10px;
        margin-top: -40px;
        width: 100%;
        float: left;
      }
    }

    .views-field-field-introduction {
      width: 100%;
      float: left;
      margin-top:5px;
    }

    .views-field-view-node {
      float: right;
      margin-right:10px;
      margin-top: -32px;
      position: relative;
      a {
        color:$white;
        background:$dark-green;
        padding:5px;
        text-decoration:none;
      }
    }

  }


      @include breakpoint($mobile-narrow) {

        .views-row {
          width:48%;
          float:left;
          margin:0.5%;
        }
        .views-row-odd {
          clear:left;
        }

        }

    @include breakpoint($tab) {

      .views-row {
        width: 32%;
        float: left;
        margin: 1%;
      }

      .views-row-odd {
        clear:none;
      }
      .views-row:nth-child(3n+1) {
        clear:left;
        margin-left:0px;
      }
      .views-row:nth-child(3n) {
        margin-right:0px;
      }


    }



    }
