.block--views-list-events-block-2 {

  width:100%;
  float:left;
  margin-bottom:$vert-spacing-unit;

  .view-list-events {
    .views-field-title {


      a {
        text-decoration: none;
        font-weight: 400;      background: $light-green;
        height:45px;
        padding: 10px;
        margin-top: -40px;
        width: 100%;
        float: left;
        position:relative;
      }
      .views-field-title a:hover {
        background:$dark-green;
      }
    }

    .views-field-view-node {
      float: right;
      margin-right:10px;
      margin-top: -35px;
      position: relative;
      a {
        color:$white;
        background:$dark-green;
        padding:5px;
        text-decoration:none;
      }
      a:hover {
        padding:7px;
      }
    }

  }

}

.block--views-list-events-block-3 {
  width:100%;
  float:left;
}


@include breakpoint($tab) {

  .block--views-list-events-block-2 {

    width:60%;
    float:left;
    padding-right:30px;
    margin-bottom:$vert-spacing-unit/2;

  }

  .page-node-520 {
    .field--name-body {
      width:40%;
      float:right;
    }
  }


}