.block--views-testimonials-block {
  padding: $vert-spacing-unit $horz-spacing-unit;
  h2.block__title {
    color: $headings-colors;
    line-height: 26px;
  }
  p {
    margin-bottom: 5px;
  }
  ul {
    padding-left: 20px;
    li {
      padding-bottom: $vert-spacing-unit;
    }
    li.last {
      padding-bottom: 0;
    }
  }
  .quote-italic {
    font-style: italic;
  }
  .views-field-nothing {
    @include font-size(16px);
    font-weight: bold;
  }
  .view-footer {
    a {
      float:left;
      width:100%;
      text-decoration: none;
      @include font-size(18px);
      font-weight: 800;
    }
  }
}