.page-gallery {
  .breadcrumb {
    padding-left:11px;
  }

  h1 {
    padding-left:11px;
  }
}

.view-gallery-listing {

  width:100%;
  float:left;

    .views-row {

      width:100%;
      float:left;
      margin:$vert-spacing-unit 0;
      border-bottom:1px solid $light-grey;
      padding-bottom:25px;

      img {
        width:100%;
        height:auto;
      }

      .views-field-title {
        width:100%;
        float:left;
        span {
          font-size: 18px;
          text-decoration: none;
          padding-left:11px;
          width: 100%;
          font-weight:700;
          float: left;
        }
      }


      .views-field-field-gallery-image a {

        width:48%;
        float:left;
        margin: $vert-spacing-unit /2 0.5%;
        padding:5px;
        background-image:url('../images/pod-border.jpg');
        background-size:100% 100%;
        background-repeat: no-repeat;

      }


      @include breakpoint($mobile-narrow) {

        .views-field-field-gallery-image a {
          width:48%;
          float:left;
          margin:0.5%;
        }

      }

      @include breakpoint($tab-narrow) {

        .views-field-field-gallery-image a {
          width:32%;
          float:left;
          margin:0.66666%;
        }

      }

      @include breakpoint($tab) {

        .views-field-field-gallery-image a {
          width:18%;
          margin:1%;
          float:left;
        }

      }


  }

}