.view-list-menus {

  width:100%;
  float:left;
  margin:$vert-spacing-unit 0;

  .views-row {
    width:100%;
    float:left;
    padding: 20px 0 20px 0;

    .views-field-field-pod-image-link {
      width:20%;
      float:left;
      img {
        width:100%;
      }
    }

    .views-field-title {
      width:80%;
      float:right;
      padding-left:$horz-spacing-unit;
      margin-bottom:5px;

      a {
        color:$dark-green;
        text-decoration: none;
        @include font-size(20px);
      }
    }

    .views-field-body {
      width:80%;
      float:right;
      padding-left:$horz-spacing-unit;
    }


  }


}