.view-our-work-gallery {
  margin-bottom: $vert-spacing-unit;
  .flex-control-thumbs {
    img {
      padding: 0 5px;
    }
  }
  .flex-direction-nav {
    display: none;
  }
}

@include breakpoint($tab-narrow, true) {
  .view-our-work-gallery {
    padding: 0 $horz-spacing-unit*4;
    .flexslider {
      border: 0;
      margin-bottom: 0;
      box-shadow: none;
    }
    .flex-control-nav {
      padding: 0 $horz-spacing-unit*4;
    }
  }
}