.block--views-list-menu-items-block-2 {

  width: 100%;
  float: left;

  .view-list-menu-items {
    width: 100%;
    float: left;

    .views-row {
      width: 98%;
      float: left;
      margin: 1%;
      background:$light-grey;
      padding:10px 5px;

      .views-field-title {
        width: 100%;
        float: left;
        a {
          text-decoration: none;
          font-weight: 700;
          text-transform: uppercase;
          @include font-size(18px);
        }
      }

      .views-field-field-meal-image {
        display: none;
        width: 100%;
        float: left;
        img {
          width: 100%;
          height: auto;
        }
      }
      .views-field-field-meal-description {

        width: 100%;
        float: left;
        padding: 5px 0;

      }

    }

  }

  @include breakpoint($tab) {

    width: 60%;
    float: left;

    .view-list-menu-items {

      .views-row {
        width: 47%;
        float: left;
        margin: 0 1.5% 3% 1.5%;
      }
      .views-row-odd {
        clear: left;
        margin-left:0px;
        margin-right:1.5%;
      }
    }

  }


}

