.view-testimonials {

  .views-row {
    margin: $vert-spacing-unit 0;
  }
  p {
    margin-bottom: 5px;
  }
  ul {
    padding-left: 0px;
    list-style-type:none;
    .views-row {
      float:left;
      width:95%;
      quotes: '\201c' '\201d';
      &:before {
        content:open-quote;
        font-size:80px;
        font-family:georgia;
        font-style:italic;
        float:left;
        width:5%;
        position:relative;
        top:30px;
        color:$black;
        padding-right:5px;
      }
    }
    li.last {
      padding-bottom: 0;
    }
  }
  .quote-italic {
    @include font-size(16px);
    font-style: italic;
    padding-left:50px;
    font-family:georgia;
  }

  .views-field-body {
    padding-left:0px;
  }

  .views-field-nothing {
    padding-left: 50px;
    float: left;
    @include font-size(14px);
    font-weight: 400;
    display:inline;
    &:before {
      padding-right:5px;
    }

  }
}

@include breakpoint($tab-narrow,true) {
  .view-testimonials {
    .quote-italic {
      @include font-size(16px);
      font-style: italic;
      font-family:georgia;
    }
  }
}