.view-list-menu-pods {

  width:100%;
  float:right;

  .views-row {
    width:48%;
    float:left;
    margin:$vert-spacing-unit*2 0.5%;
    text-align:center;
  }

  @include breakpoint($tab) {
    width:40%;
    float:right;
    padding-top:44px;
  }

}