.view-front-page-intro {
  width:100%;

  .flexslider {
    box-shadow:none!important;
    -webkit-box-shadow:none!important;
    border:0px!important;
    margin-bottom:0px;


    .flex-control-nav {
      display:none;
    }

    .flex-direction-nav {
      li:nth-child(1) {
        background-image:url('../images/left.png');
        content:"."!important;
        a {
          background-image:url('../images/left.png');
          color:rgba(0,0,0,0)!important;
          text-shadow:none;
        }
      }
      li:nth-child(2n) {
        background-image:url('../images/right.png');
        content:"";
        a {
          background-image:url('../images/right.png');
          color:rgba(0,0,0,0)!important;
          text-shadow:none;
        }
      }
    }
  }
  .views-row {
    width:100%;
    float:left;

    img {
      width:100%;
    }
  }
}
@include breakpoint($tab-portrait, true) {
  .view-front-page-intro {
    width: 100%;
  }
}
